{% extends "base.html" %}
{% load get_note %}
    {% block content %}
        {% if notes %}
        <div class=container>
            {% for note in notes %}
                <div class="jumbotron">
                    <h1>{{ note.title }}</h1>
                    <p class="lead">{{ note.text }}</p>
                    {% if note.attach %}
                        <img src="{{ MEDIA_URL }}{{ note.attach }}" class="img-rounded">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endblock %}
