document.write(
"<div class=\"widget-body\">\
<div class=\"note-name\">\
<p>{{ note.title }}</p>\
</div>\
<div class=\"note-text\">\
<div class=\"text\">\
<p>{{ note.text }}</p>\
</div>\
{% if note.attach %}\
    <div class=\"note-attachment\">\
        <img src=\"http://{{ server_addr}}{{ MEDIA_URL }}{{ note.attach }}\" class=\"note-image\">\
    </div>\
{% endif %}\
</div>\
</div>\
<style type=\"text/css\">\
    .widget-body {\
        overflow: auto;\
        background-color: #27ae60;\
        color: #ecf0f1;\
        border-radius: 5px;\
    }\
    .note-name {\
        background-color: #2c3e50;\
        border-radius: 3px;\
        width: 90%;\
        margin: auto;\
        text-align: center;\
    }\
    .note-text {\
        background-color: #2c3e50;\
        overflow: auto;\
        width: 90%;\
        border-radius:  3px;\
        margin: auto;\
    }\
    .note-attachment {\
        max-width: 30%;\
    }\
    .text {\
        width: 90%;\
        text-align: left;\
        text-indent: 1em;\
        margin-left: 3px;\
        }\
    .note-image {\
            max-width: 100%;\
        }\
</style>")
